mat-header-cell, mat-header-row, .mat-header-cell-def {
  font-size: 20px;
  font-weight: bold;
}

mat-cell{
  font-size: 20px;
}

.table-container{
  position: relative;
  min-height: 200px;
  max-height: 80%;
  overflow: auto;
}

mat-form-field{
  margin-left: 15px;
}

img{
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 150px;
}

button.btn-filter{
  margin-left: 15px;
}

table{
  width: 100%;
}

@mixin mat-table-columns($columns)
{
  .mat-column-
  {
    @each $colName, $props in $columns {

      $width: map-get($props, 'width');

      &#{$colName}
      {
        flex: 0 0 $width;
        min-width: $width;
      }
    }
  }
}

@include mat-table-columns((
  image: (width: 13%),
  firstName: (width: 25%),
  lastName: (width: 25%),
  id: (width: 25%),
  actions: (width:12%),
));


.mat-form-field {
  font-size: 20px;
  margin-top: 5px;

  margin-bottom: -1%;
}
