<div>
  <mat-drawer-container class="example-container">
    <mat-drawer class="drawer-content" mode="side" opened>
      <app-search
        [searchForm]="searchFormGroup"
        (searchFormEmitter)="getBySearch($event)">
      </app-search>
    </mat-drawer>
    <mat-drawer-content class="main-content">
      <app-moder-list
        [accounts]="accounts">
      </app-moder-list>
      <mat-paginator
        [length]="itemCount"
        [pageIndex]="currentPage"
        [pageSize]="pageSize"
        [pageSizeOptions]="[12, 20, 40]"
        (page)="paginationHandler($event)"
      ></mat-paginator>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
