<alert></alert>
<div>
  <form [formGroup]="searchForm" (ngSubmit)="getBySearch(searchForm)">

    <mat-form-field class="full-width-input">
      <input matInput placeholder="Search by name" formControlName="search">
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <mat-select placeholder="Sorting" formControlName="order">
        <mat-option value="" disabled selected>Sorting</mat-option>
        <mat-option value="asc">Sort by name (A-Z)</mat-option>
        <mat-option value="desc">Sort by name (Z-A)</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <mat-select placeholder="Gender" formControlName="gender">
        <mat-option value="">Gender</mat-option>
        <mat-option value="M">Male</mat-option>
        <mat-option value="F">Female</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <mat-select placeholder="Account status" formControlName="status">
        <mat-option value="">Account status</mat-option>
        <mat-option value="true">Active</mat-option>
        <mat-option value="false">Inactive</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" class="btn-filter" mat-flat-button color="warn">Apply Filter</button>
  </form>
</div>


<div class="table-container">
  <mat-table id="table" [dataSource]="pageContent" #table matSort class="mat-cell">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell class="content-text" *matCellDef="let item" >{{item.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
      <mat-cell *matCellDef="let item"><img [src]="item.imgUrl"/></mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell class="content-text" *matCellDef="let item">{{item.firstName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Surname</mat-header-cell>
      <mat-cell class="content-text" *matCellDef="let item">{{item.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="newModerator()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="editModerator(row, row.id)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="changeStatus(i, row.id, row.status)">
          <mat-icon *ngIf="row.status == true" aria-label="Change status">check_box</mat-icon>
          <mat-icon *ngIf="row.status == false" aria-label="Change status">check_box_outline_blank</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let item; columns: columnsToDisplay"></mat-row>
  </mat-table>
</div>

<mat-paginator
  [length]="totalElements"
  [pageIndex]="currentPage"
  [pageSize]="pageSize"
  [pageSizeOptions]="[12, 20, 40]"
  (page)="paginationHandler($event)">
</mat-paginator>

