<div class="main">
    <div class="register-form-container">
        <h1 class="form-title">
            Sign In
        </h1>
        <div class="form-text">
            <span class="text">Don`t have an account? <a href="#" style="color: #27313B">Create one</a> </span>
        </div>
        <div class="form-fields">
            <div class="form-field">
                <input type="text" [(ngModel)]="creds.email" placeholder="Email address">
            </div>
            <div class="form-field">
                <input type="password" [(ngModel)]="creds.password" placeholder="Password">
            </div>
            <p *ngIf="incorrect">Incorrect login or password!</p><button *ngIf="incorrect" (click)="removeWarning()">
                OK
            </button>
            <ngx-recaptcha2 #captchaElem *ngIf="showCaptcha" [siteKey]="siteKey" (success)="handleCaptchaSuccess($event)"></ngx-recaptcha2>
            <div class="form-buttons">
                <button class="button" (click)="authorize(creds)" [disabled]="disableButton">
                    Sign in
                </button>
            </div>
        </div>
    </div>
</div>
