@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Raleway;
    font-weight: normal;
}

input{
    max-width: 575.27px;
    width: 100%;
    height: 84.37px;
    font-size: 23.01px;
    line-height: 19px;
    background: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15.3407px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    padding-top: 32px;
    padding-bottom: 32.37px;
}

.form-title{
    text-align: center;
    color: #273139;
    font-size: 55.2264px;
    line-height: 72px;
    margin-bottom: 63.4px;
}

.register-form-container{
    max-width: 698px;
    width: 100%;
    background: #E6E2DF;
    border: 2px solid #27313B;
    box-sizing: border-box;
    border-radius: 49.0901px;
    padding-left: 59px;
    padding-right: 63.73px;
    padding-top: 67.5px;

    
}

.form-field{
    margin-bottom: 22.63px;
}
.form-fields{
    
}
.form-buttons{
    text-align: center;
    margin-top: 129.59px;
    margin-bottom: 31.49px;
    
}
.button{
    font-weight: bold;
    font-size: 33.7495px;
    line-height: 44px;
    max-width: 391.19px;
    width: 100%;
    height: 90.51px;
    background: #9FAFBE;
    border-radius: 23.011px;
    color: #FFFFFF;
    border: 0px;
}
.text{
    font-style: normal;
    font-size: 21.4769px;
    line-height: 28px;
    /* or 130% */
    color: #27313B;
}
.form-text{
    text-align: center;
    margin-bottom: 22.66px;
    
}

.main{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

}

/*.rectangle{
    max-width: 950px;
    width: 100%;
    height: 950px;
    position: absolute;
    background: #AAA096;
    border-radius: 160px;
    transform: rotate(-45deg);
}

#rectangle-top{
    left: -460px;
    top: -360.75px;
}

#rectangle-bottom{
    left: 1036px;
    top: 543.33px;
}

.rectangle{
    z-index: 1;
}*/