<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="signin.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
     crossorigin="anonymous">
    
    <title>Authorization</title>
</head>
<body>
    <div class="authorization">
        <div class="authorization__body ">
            <div class="authorization__title title">Sign in</div>

            <form class="authorization__form" [formGroup]="authorizeForm">

                <div class="authorization__require-text">* required fields</div>

                <div class="authorization__fields">
                    <div class="authorization__field ">
                        <input type="text" class="form-field" formControlName="email" placeholder="Email address*">
                        <div *ngIf="email.invalid && email.touched">
                            <span class="error" *ngIf="email.errors?.required"  > email is required </span>
                            <span class="error" *ngIf="email.errors?.email || invalidEmailFormat" > email fromat is invalid </span>
                        </div>
                    </div>

                    <div class="authorization__field">
                        <input type="password" class="form-field sub-field" formControlName="password" placeholder="Password*">
                        <div *ngIf="password.invalid && password.touched">
                            <span class="error" *ngIf="password.errors?.required"> password is requierd </span>
                            <span class="error" *ngIf="password.errors?.pattern  || invalidPassFormat"> password format is invalid </span> 
                        </div>
                    </div>
                    <span class="error" *ngIf="invalidCreds"> Incorrect login and/or password </span>

                </div>
                <ngx-recaptcha2 #captchaElem *ngIf="showCaptcha" formControlName="recaptcha" [siteKey]="siteKey" (success)="handleCaptchaSuccess($event)"></ngx-recaptcha2>
                
                <div class="authorization__button">
                    <button class = "form-button" [disabled]="!authorizeForm.valid || disableButton" (click)="authorize()">Sign in</button>
                </div>  

            </form>

            <div class="authorization__sign-up-text text">
                Don`t have an account? <a href="#" class="authorization__sign-up-link">Create one</a>
            </div>
            
        </div> 
    </div>
</body>
</html>
