<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="registration.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
     crossorigin="anonymous">
    
    <title>Registration</title>
</head>
<body>
    <div class="registration">
        <div class="registration__body ">
            <div class="registration__title title">Create an account</div>

            <form class="registration__form" [formGroup]="registerForm" (ngSubmit) = "onSubmit()">

                <div class="registration__requite-text">* required fields</div>

                <div class="registration__fields">

                    <div class="registration__field ">
                        <input type="text" class="form-field" formControlName="name" placeholder="Name*">
                        <div *ngIf="name.invalid && name.touched">
                            <span class="error" *ngIf="name.errors?.required"> name is requierd </span>
                            <span class="error" *ngIf="name.errors?.pattern"> name is invalid </span> 
                        </div>
                    </div>

                    <div class="registration__field">
                        <input type="text" class="form-field" formControlName="surname" placeholder="Surname*">
                        <div *ngIf="surname.invalid && surname.touched">
                            <span class="error" *ngIf="surname.errors?.required"> surname is requierd </span>
                            <span class="error" *ngIf="surname.errors?.pattern"> surname is invalid </span> 
                        </div>
                    </div>

                    <div class="registration__field ">
                        <input type="date" class="form-field " formControlName="birthDate"  placeholder="Birth date*">
                        <div *ngIf="birthDate.invalid && birthDate.touched">
                            <span class="error" *ngIf="birthDate.errors?.required"> birthDate is requierd </span>
                        </div>
                    </div>

                    <div class="registration__field ">
                        <select class="select-gender form-field" formControlName="gender" placeholder="Gender*">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                        <div *ngIf="gender.invalid && gender.touched">
                            <span class="error" *ngIf="gender.errors?.required"> gender is requierd </span>
                        </div>
                    </div>

                    <div class="registration__field ">
                        <input type="text" class="form-field" formControlName="email" placeholder="Email address*">
                        <div *ngIf="email.invalid && email.touched">
                            <span class="error" *ngIf="email.errors?.required"  > email is required </span>
                            <span class="error" *ngIf="email.errors?.email" > email is invalid </span>
                        </div>
                    </div>

                    <div class="registration__field">
                        <input type="password" class="form-field sub-field" formControlName="password" placeholder="Password*">
                        <div *ngIf="password.invalid && password.touched">
                            <span class="error" *ngIf="password.errors?.required"> password is requierd </span>
                            <span class="error" *ngIf="password.errors?.pattern"> password is invalid </span> 
                        </div>
                    </div>

                    <div class="registration__field">
                    <input type="password" class="form-field sub-field" id="q1" formControlName="confirmPassword" placeholder="Confirm password*">
                        <div *ngIf="registerForm.get('confirmPassword').invalid && registerForm.get('confirmPassword').touched">
                            <span class="error" *ngIf="registerForm.get('confirmPassword').errors?.required"> Confirm password is requierd </span>
                            <span class="error" *ngIf="registerForm.get('confirmPassword').errors?.pattern"> Confirm password is invalid </span>
                            <span class="error" *ngIf="registerForm.get('confirmPassword').value != registerForm.get('password').value"> Confirm password and password should be the same </span>
                        </div>
                    </div>    
                </div>

                <div class="registration__button">
                    <button class = "form-button" [disabled]="!registerForm.valid" >Sign up</button>
                </div>  

            </form>

            <div class="registration__sign-in-text text">
                Already have an account? <a routerLink="/signin" routerLinkActive="active">Sign In</a>
            </div>
            
        </div> 
    </div>
</body>
</html>
