<mat-card>
    <mat-card-content>
        <div class="invalid-token" *ngIf="tokenStatus == TokenStatus.Invalid">
            Token validation failed, if the token has expired you can get a new one at the <a routerLink="../../forgot-password">forgot password</a> page.
        </div>
      <form [formGroup]="form" *ngIf="tokenStatus == TokenStatus.Valid" (ngSubmit)="onSubmit()">
        <h2>Reset Password</h2>
        <div *ngIf="isInvalidData" class="alert alert-danger" role="alert">
            {{alertMessage}}
          </div>
          <div *ngIf="isValidData" class="alert alert-success" role="alert">
            Password reset successful, you can now login
          </div>

        <mat-form-field class="full-width-input" >
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" onkeypress="return event.charCode != 32" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <mat-error *ngIf="control['password'].hasError('required')">
                Enter your password, please
            </mat-error>
            <mat-error *ngIf="control['password'].hasError('pattern')">
                The password contains at least 8 symbol, one uppercase letter, a lowercase letter, and a number
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-input">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm password" onkeypress="return event.charCode != 32" formControlName="confirmPassword" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <mat-error *ngIf="control['confirmPassword'].hasError('required')">
                Enter your password, please
            </mat-error>
            <mat-error *ngIf="control['confirmPassword'].hasError('mustMatch')">
                Passwords do not match
            </mat-error>
          </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>