<div class="container">
<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">
    <alert id="error-dialog"></alert>
    <mat-form-field *ngIf="ingredient && ingredient.id" class="full-width-input">
        <input matInput placeholder="ID" formControlName="id" [(ngModel)]="ingredient.id" >
        <mat-error>
            Please provide a ID.
          </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-input">
        <input matInput placeholder="Name" formControlName="name" [(ngModel)]=ingredient.name>
        <mat-error>
            Please provide a name.
          </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-input">
        <input matInput placeholder="Image URL" formControlName="imgUrl" [(ngModel)]="ingredient.imgUrl">
        <mat-error>
            Max length for image url is 300 symbols.
          </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-input">
        <mat-select placeholder="Select category" formControlName="ingredientCategory" [(ngModel)]="ingredient.ingredientCategory">
            <mat-option *ngFor="let category of listCategories" [value]="category">{{category}}</mat-option>
          </mat-select>
          <mat-error>
            Please provide a category for ingredient.
          </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-input">
        <mat-select placeholder="Status" formControlName="status" [(ngModel)]="ingredient.active">
            <mat-option [value]="true">Active</mat-option>
            <mat-option [value]="false">Inactive</mat-option>
          </mat-select>
          <mat-error>
            Please provide a status for ingredient.
          </mat-error>
    </mat-form-field>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button cancel-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">{{modeEdit ? "Save" : "Add"}}</button>
</mat-dialog-actions>
</div>