@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
}

.drawer-content {
  width: 15%;
  border: 1px solid #555;
}


.list {
  margin-top: 15px;
  font-size: large;
  margin-left: 20px;
  color: #FFFFFF;
}

table {
  width: 100%;
}

.table {
  overflow-x: auto;
  white-space: nowrap;
}

table {
  width: 100%;
}

tr {
  width: 100%;
}






