@import '../layout/layout.component.scss';

  .captcha{
    margin-bottom: 13px;
    display: inline-block;
}

.captcha p{
    color: red;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
}