

.panel_search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  font-size: large;
  margin-top: 15px;
  width: 100%;
}

.btn-item {
  background-color: #3f51b5;
  color: #FFFFFF;
}
