<form class="change-password" [formGroup]="form">

  <h2>Change password</h2>

  <mat-form-field class="full-width-input">
    <mat-label>Old password</mat-label>
    <input matInput [type]="hideOld ? 'password' : 'text'"  (keydown)="onKeydown($event)" formControlName="password" required>
    <button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld">
      <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>
      {{passwordErrorMessage}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-input">
    <mat-label>New password</mat-label>
    <input matInput [type]="hideNew ? 'password' : 'text'"  (keydown)="onKeydown($event)" formControlName="newPassword" required>
    <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
      <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>
      {{newPasswordErrorMessage}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-input">
    <mat-label>Confirm password</mat-label>
    <input matInput [type]="hideConfirm ? 'password' : 'text'" (keydown)="onKeydown($event)" formControlName="confirmPassword" required>
    <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
      <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>
      {{confirmPasswordErrorMessage}}
    </mat-error>
  </mat-form-field>

  <div class="user_profile_password_control_edit">
    <button type="button" [disabled]="form.invalid" (click)="changePassword()" mat-raised-button color="primary">Save</button>
    <button type="button"   (click)="back()" mat-raised-button color="primary">Back</button>
  </div>
</form>
