<form class="change-password" [formGroup]="form">
  <div *ngIf="loading">loading...</div>

  <h2>Change password</h2>

  <mat-form-field class="full-width-input" appearance="outline">
    <mat-label>Old password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'"  onkeypress="return event.charCode != 32" formControlName="password" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>
      {{passwordErrorMessage}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-input" appearance="outline">
    <mat-label>New password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'"  onkeypress="return event.charCode != 32" formControlName="newPassword" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>
      {{newPasswordErrorMessage}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-input" appearance="outline">
    <mat-label>Confirm password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" onkeypress="return event.charCode != 32" formControlName="confirmPassword" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>
      {{confirmPasswordErrorMessage}}
    </mat-error>
  </mat-form-field>

  <div class="user_profile_edit">
    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary" (click)="changePassword()">Save</button>
  </div>
</form>
