<div class="container">
  <h3 class="title" mat-dialog-title>Kitchenware creation</h3>

  <form class="mat-dialog-content" [formGroup]="form">
    <alert id="error-dialog"></alert>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Image url"  formControlName="imgUrl">
        <mat-error>
          Entered link has incorrect format. Set only .jpeg|.jpg|.png images.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories; let i=index" value="{{category}}">{{category}}</mat-option>
        </mat-select>
        <mat-error>You must make a selection</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput  placeholder="Name" formControlName="name" required >
        <mat-error>
          Please enter kitchenware name correctly
        </mat-error>
      </mat-form-field>
    </div>

    <mat-dialog-actions>
      <button class="mat-raised-button" (click)="close()">Close</button>
      <button class="mat-raised-button mat-primary" [disabled]="!form.valid" (click)="confirmAdd()">Save</button>
    </mat-dialog-actions>
  </form>
</div>
