<link rel="stylesheet" href="https://unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">{{title}}</button>
  </span>

  <div *ngIf="account && account.role == Role.Moderator" fxFlex fxShow fxHide.lt-md>
    <button mat-button routerLink="/ingredients">Ingredients</button>
    <button mat-button routerLink="/kitchenware">Kitchenware</button>
    <button mat-button routerLink="/dishes">Dishes</button>
  </div>

  <div *ngIf="account && account.role == Role.Admin" fxFlex fxShow fxHide.lt-md>
    <button mat-button routerLink="/admin">Management</button>
    <button mat-button routerLink="/dishes">Dishes</button>
  </div>

  <div *ngIf="account && account.role == Role.User" fxFlex fxShow fxHide.lt-md>
    <button mat-button routerLink="/friends">Friends</button>
    <button mat-button routerLink="/stock">My Stock</button>
    <button mat-button routerLink="/dishes">Dishes</button>
  </div>

  <div *ngIf="!account" fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/account/signin">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button routerLink="/account/signup">
      <mat-icon>account_circle</mat-icon>
      Register
    </button>
  </div>

  <div *ngIf="account" fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/profile">
      <mat-icon>assignment_ind</mat-icon>
      My Profile
    </button>
    <button mat-button (click)="logout()">
      <mat-icon>logout_outlined</mat-icon>
      Logout
    </button>
  </div>

  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">

  <div *ngIf="!account">
    <button mat-menu-item routerLink="/account/signup">
      <mat-icon>account_circle</mat-icon>
      Register
    </button>
    <button mat-menu-item routerLink="/account/signin">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
  </div>

  <div *ngIf="account">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>assignment_ind</mat-icon>
      My Profile
    </button>
    <button *ngIf="account.role == Role.Moderator" mat-menu-item routerLink="/ingredients">
      <mat-icon>list</mat-icon>
      Ingredients
    </button>
    <button *ngIf="account.role == Role.Moderator" mat-menu-item routerLink="/kitchenware">
      <mat-icon>list</mat-icon>
      Kitchenware
    </button>
    <button mat-menu-item routerLink="/dishes">
      <mat-icon>list</mat-icon>
      Dishes
    </button>
    <button *ngIf="account.role == Role.User" mat-menu-item routerLink="/friends">
      <mat-icon>list</mat-icon>
      Friends
    </button>
    <button *ngIf="account.role == Role.User" mat-menu-item routerLink="/stock">
      <mat-icon>list</mat-icon>
      My Stock
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout_outlined</mat-icon>
      Logout
    </button>
  </div>

</mat-menu>
<router-outlet></router-outlet>
