<form class="form-group">
  <img class="img-profile" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">

  <div class="inputs">
    <input type="text"  value="FirstName">
  </div>

  <div class="inputs">
    <input type="text"  value="LastName">
  </div>

  <div class="date-gender">
    <input type="date" class="date" value="17.10.2001">
    <input type="text" class="gender" value="Female">
  </div>

  <div class="inputs">
    <input type="email" value="Rebecca@website.com">
  </div>

  <button type="submit" class="buttons" id="b-save">save changes</button>

  <div class="two-buttons">
    <button type="submit" class="buttons" id="b-change">change password</button>
    <button type="submit" class="buttons" id="b-logout">log out</button>
  </div>
</form>
