<form class="form-group" [formGroup]="settingsForm" (ngSubmit) = "submit()">
  <img class="img-profile" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""><!--formControlName="imgUrl" ngDefaultControl-->

  <div class="inputs">
    <input type="text" class="user-edit" formControlName="firstName">
  </div>

  <div class="inputs">
    <input type="text" class="user-edit" formControlName="lastName">
  </div>

  <div class="date-gender">
    <input type="date" class="date" formControlName="date" >
    <select class="gender" formControlName="gender" >
      <option>Male</option>
      <option>Female</option>
    </select>
  </div>

  <button type="submit" class="save">save changes</button>

  <div class="two-buttons">
    <button class="change">change password</button>
    <button class="logout">log out</button>
  </div>

</form>

