.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px auto 25px auto;
  width: 20%;
}

.img-profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.form-group input, select {
  background-color: #E6E2DF;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: Raleway, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #27313B;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 44px;
  border: none;
}

.form-group .user-edit {
  background-image: url("../../assets/images/img.png");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 25px 25px;
}

.user-edit {
  width: 100%;
  padding: 0 15px 0 15px;
}

input::placeholder {
  color: #27313B;
}

.form-group .inputs {
  display: flex;
  width: 100%;
}

.gender {
  width: 30%;
  padding: 0 5px 0 5px;
  appearance: none;
  background-image: url("../../assets/images/arrow.png");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 25px 25px;
}

.date {
  width: 60%;
  padding: 0 5px 0 15px;
}

.date[type="date"] {
  background-image: url("../../assets/images/calendar.png");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 25px 25px;
}

.date[type="date"]::-webkit-inner-spin-button {
  display: none;
}

.date[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.date-gender {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-family: Raleway, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  background: #9FAFBE;
  border-radius: 50px;
  height: 35px;
  border: none;
  padding: 5px 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.two-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
}

button:active {
  box-shadow: none;
}




