<mat-card>
    <mat-card-content class="mat-typography">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Forgot Password</h2>
        <div *ngIf="isInvalidData" class="alert alert-danger" role="alert">
            {{alertMessage}}
          </div>
          <div *ngIf="isValidData" class="alert alert-success" role="alert">
            A letter with instructions has been sent to your email.
          </div>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error>
              Please provide a valid email address
            </mat-error>
          </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Reset password</button>
      </form>
    </mat-card-content>
  </mat-card>