<div class="search-bar">
  <form [formGroup]="searchForm">
    <mat-form-field color="primary">
      <input matInput placeholder="Search" required formControlName="search">
      <mat-icon matSuffix>search</mat-icon>
      <mat-error>
        {{searchParamErrorMessage}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <mat-select placeholder="Sorting" formControlName="order">
        <mat-option value="" disabled selected>Sorting</mat-option>
        <mat-option value="asc">Sort by name (A-Z)</mat-option>
        <mat-option value="desc">Sort by name (Z-A)</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit"
            class="btn-filter"
            mat-flat-button
            color="warn"
            [disabled]="searchForm.invalid"
            (click)="getInvites()">Search
    </button>

  </form>
</div>

<table mat-table class="table-invites" [dataSource]="pageContent.content">

  <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img [src]="element.imgUrl ? element.imgUrl : '../assets/images/defaultAv.png'"/>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> First name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef> Last name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
      <button mat-raised-button color="primary" class="btn-action" (click)="acceptInvite(i,element.id)">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-raised-button color="primary" class="btn-action" (click)="declineInvite(i,element.id)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>

<mat-paginator
  [length]="pageContent.totalElements"
  [pageIndex]="currentPage"
  [pageSize]="pageSize"
  [pageSizeOptions]="[12, 20, 40]"
  (page)="paginationHandler($event)">
</mat-paginator>
